In [1]:
# Importing Required Libraries
import os
import pandas as pd
import mysql.connector

In [2]:
# MySQL database configuration
# MYSQL_HOST = "localhost"
# MYSQL_USER = "root"
# MYSQL_PASSWORD = "Password!!"
MYSQL_HOST = "localhost"
MYSQL_USER = "mh30f"
MYSQL_PASSWORD = "Moh@1977"

In [3]:
def main():
    try:
        # Connect to MySQL
        connection = mysql.connector.connect(
            host=MYSQL_HOST,
            user=MYSQL_USER,
            password=MYSQL_PASSWORD,
            auth_plugin="mysql_native_password"
        )
        cursor = connection.cursor()

        # Specify the path to your Resources directory
        resources_dir = "C:\\Users\\mh30f\\OneDrive\\Documents\\GitHub\\YDOC2MySQL\\Resources"  # Update this path as needed
        files = [f for f in os.listdir(resources_dir) if f.endswith('.csv')]

        for file_name in files:
            # Read CSV into DataFrame, skipping rows 2 and 3
            file_path = os.path.join(resources_dir, file_name)
            df = pd.read_csv(file_path, skiprows=[1, 2], header=0)
            print(f"Data loaded from CSV {file_name}:\n{df.head()}")

            # Clean column names
            df.columns = df.columns.str.strip().str.replace(' ', '_')

            # Convert 'Date' and 'Time' columns into a single 'DateTime' column
            if 'Date' in df.columns and 'Time' in df.columns:
                df['Date'] = df['Date'].astype(str)
                df['Time'] = df['Time'].astype(str)

                # Create the 'DateTime' column by combining 'Date' and 'Time'
                df['DateTime'] = pd.to_datetime(df['Date'] + ' ' + df['Time'], errors='coerce', dayfirst=True)

                # Drop the original 'Date' and 'Time' columns as they are no longer needed
                df.drop(columns=['Date', 'Time'], inplace=True)

                # Check for invalid datetime values and replace them with None
                df['DateTime'] = df['DateTime'].where(df['DateTime'].notna(), None)

                # Reorder the columns to make 'DateTime' the first column
                cols = ['DateTime'] + [col for col in df.columns if col != 'DateTime']
                df = df[cols]
                
                    # Drop rows and columns with all NaN values
                df = df.dropna(axis=1, how='all')
                df = df.fillna('MISSING')
                
                
            print(f"NAN column removed and Data with 'DateTime' column as the first column for {file_name}:\n{df}")

            # Create database and table
            db_name = os.path.basename(os.path.dirname(resources_dir))
            table_name = os.path.splitext(file_name)[0]

            cursor.execute(f"CREATE DATABASE IF NOT EXISTS {db_name}")
            cursor.execute(f"USE {db_name}")

            # Create or recreate the table
            cursor.execute(f"DROP TABLE IF EXISTS `{table_name}`")  # Drop the table if it already exists
            create_table_query = f"CREATE TABLE `{table_name}` ("
            for col in df.columns:
                dtype = 'FLOAT'
                if col == 'DateTime':
                    dtype = 'DATETIME DEFAULT NULL'
                elif pd.api.types.is_integer_dtype(df[col]):
                    dtype = 'INT'
                elif pd.api.types.is_string_dtype(df[col]):
                    dtype = 'VARCHAR(255)'
                create_table_query += f"`{col}` {dtype}, "
            create_table_query = create_table_query.rstrip(', ') + ")"
            cursor.execute(create_table_query)
            print(f"Table `{table_name}` created successfully.")

            # Batch insert rows into the database
            rows = [tuple(row) for row in df.itertuples(index=False, name=None)]
            placeholders = ', '.join(['%s'] * len(df.columns))
            insert_query = f"INSERT INTO `{table_name}` ({', '.join(f'`{col}`' for col in df.columns)}) VALUES ({placeholders})"
            cursor.executemany(insert_query, rows)
            print(f"Data inserted into `{table_name}` successfully.")

            # Export processed data to a new CSV file
            output_file_path = os.path.join(resources_dir, f"processed_{file_name}")
            df.to_csv(output_file_path, index=False)
            print(f"Processed data exported to {output_file_path}")

        # Commit the transaction
        connection.commit()

    except mysql.connector.Error as err:
        print(f"Error: {err}")

    finally:
        if cursor:
            cursor.close()
        if connection:
            connection.close()

In [4]:
if __name__ == "__main__":
    main()

Data loaded from CSV YDOC_YD000101_W0041237_CT2X_SDI12_124130467_240925_030006.csv:
         Date     Time  Water Level      Temp  Barometric pressure  \
0  25/09/2024  0:15:00       13.599  31414.99             31395.36
1  25/09/2024  0:30:00       13.600  30987.75             30964.87
2  25/09/2024  0:45:00       13.600  30351.10             30328.69
3  25/09/2024  1:00:00       13.600  30819.11             30796.35
4  25/09/2024  1:15:00       13.599  30680.76             30661.59

   Compensated Pressure  Casing temperature  Min voltage  EXT POWER / SOLAR
0                28.673               3.318       10.281               20.0
1                28.906               3.321       10.279               20.0
2                28.906               3.322       10.279               19.9
3                28.906               3.323       10.277               19.8
4                28.673               3.323       10.277               19.6
NAN column removed and Data with 'DateTime' column as the first column for YDOC_YD000101_W0041237_CT2X_SDI12_124130467_240925_030006.csv:
              DateTime  Water_Level      Temp  Barometric_pressure  \
0  2024-09-25 00:15:00       13.599  31414.99             31395.36
1  2024-09-25 00:30:00       13.600  30987.75             30964.87
2  2024-09-25 00:45:00       13.600  30351.10             30328.69
3  2024-09-25 01:00:00       13.600  30819.11             30796.35
4  2024-09-25 01:15:00       13.599  30680.76             30661.59
5  2024-09-25 01:30:00       13.597  29951.23             29932.45
6  2024-09-25 01:45:00       13.598  31210.20             31187.02
7  2024-09-25 02:00:00       13.595  30516.17             30497.11
8  2024-09-25 02:15:00       13.595  30459.93             30437.44
9  2024-09-25 02:30:00       13.598  29278.85             29257.23
10 2024-09-25 02:45:00       13.597  29582.70             29564.03
11 2024-09-25 03:00:00       13.595  29947.25             29925.06

    Compensated_Pressure  Casing_temperature  Min_voltage  EXT_POWER_/_SOLAR
0                 28.673               3.318       10.281               20.0
1                 28.906               3.321       10.279               20.0
2                 28.906               3.322       10.279               19.9
3                 28.906               3.323       10.277               19.8
4                 28.673               3.323       10.277               19.6
5                 28.677               3.323       10.274               19.5
6                 28.914               3.323       10.275               19.3
7                 28.673               3.321       10.273               19.2
8                 28.906               3.320       10.275               19.1
9                 28.906               3.322       10.276               19.0
10                28.686               3.322       10.275               18.9
11                28.910               3.321       10.274               18.8
Table `YDOC_YD000101_W0041237_CT2X_SDI12_124130467_240925_030006` created successfully.
Data inserted into `YDOC_YD000101_W0041237_CT2X_SDI12_124130467_240925_030006` successfully.
Processed data exported to C:\Users\mh30f\OneDrive\Documents\GitHub\YDOC2MySQL\Resources\processed_YDOC_YD000101_W0041237_CT2X_SDI12_124130467_240925_030006.csv
Data loaded from CSV YDOC_YDS00057_W3001557_ST01041_240924_060000.000.csv:
         Date      Time     P01    P02     P03    P04   P05  P06    P07  P08  \
0  2024/09/24  05:45:00  12.679  30.45  10.305  2.374  19.7  3.3  4.109  NaN
1  2024/09/24  06:00:00  12.680  30.45  10.306  2.375  20.1  3.3  4.058  NaN

   P09  P10  P11  P12  P13  P14  P15
0  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1  NaN  NaN  NaN  NaN  NaN  NaN  NaN
NAN column removed and Data with 'DateTime' column as the first column for YDOC_YDS00057_W3001557_ST01041_240924_060000.000.csv:
             DateTime     P01    P02     P03    P04   P05  P06    P07
0 2024-09-24 05:45:00  12.679  30.45  10.305  2.374  19.7  3.3  4.109
1 2024-09-24 06:00:00  12.680  30.45  10.306  2.375  20.1  3.3  4.058
Table `YDOC_YDS00057_W3001557_ST01041_240924_060000.000` created successfully.
Data inserted into `YDOC_YDS00057_W3001557_ST01041_240924_060000.000` successfully.
Processed data exported to C:\Users\mh30f\OneDrive\Documents\GitHub\YDOC2MySQL\Resources\processed_YDOC_YDS00057_W3001557_ST01041_240924_060000.000.csv
Data loaded from CSV YDOC_YDS00057_W3001557_ST01041_240924_090000.000.csv:
         Date      Time     P01    P02     P03    P04   P05   P06     P07  \
0  2024/09/24  06:15:00  12.682  30.45  10.309  2.373  20.4  3.26   4.167
1  2024/09/24  06:30:00  12.682  30.45  10.307  2.375  20.5  3.28  17.267
2  2024/09/24  06:45:00  12.684  30.45  10.309  2.374  20.7  3.28  18.422
3  2024/09/24  07:00:00  12.684  30.45  10.311  2.373  20.9  3.28  19.046
4  2024/09/24  07:15:00  12.685  30.45  10.311  2.374  21.2  3.28  19.037

   P08  P09  P10  P11  P12  P13  P14  P15
0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
NAN column removed and Data with 'DateTime' column as the first column for YDOC_YDS00057_W3001557_ST01041_240924_090000.000.csv:
              DateTime      P01      P02      P03      P04      P05      P06  \
0  2024-09-24 06:15:00   12.682    30.45   10.309    2.373     20.4     3.26
1  2024-09-24 06:30:00   12.682    30.45   10.307    2.375     20.5     3.28
2  2024-09-24 06:45:00   12.684    30.45   10.309    2.374     20.7     3.28
3  2024-09-24 07:00:00   12.684    30.45   10.311    2.373     20.9     3.28
4  2024-09-24 07:15:00   12.685    30.45   10.311    2.374     21.2     3.28
5  2024-09-24 07:30:00   12.687    30.45   10.313    2.374     21.7     3.28
6  2024-09-24 07:45:00   12.689     30.4   10.313    2.375     22.4     3.28
7  2024-09-24 08:00:00   12.689    30.45   10.313    2.375     23.3     3.29
8  2024-09-24 08:15:00    12.69    30.45   10.314    2.377     24.3     3.29
9  2024-09-24 08:30:00    12.69     30.4   10.316    2.374     25.7     3.32
10 2024-09-24 08:45:00   12.692     30.4   10.317    2.375     27.4     3.33
11 2024-09-24 09:00:00  MISSING  MISSING  MISSING  MISSING  MISSING  MISSING

        P07
0     4.167
1    17.267
2    18.422
3    19.046
4    19.037
5    19.072
6    19.054
7    19.082
8    19.104
9    19.105
10   19.108
11  MISSING
Table `YDOC_YDS00057_W3001557_ST01041_240924_090000.000` created successfully.
Data inserted into `YDOC_YDS00057_W3001557_ST01041_240924_090000.000` successfully.
Processed data exported to C:\Users\mh30f\OneDrive\Documents\GitHub\YDOC2MySQL\Resources\processed_YDOC_YDS00057_W3001557_ST01041_240924_090000.000.csv
Data loaded from CSV YDOC_YDS00057_W3001557_ST01041_240924_114500.000.csv:
         Date      Time     P01    P02     P03    P04   P05   P06     P07  \
0  2024/09/24  09:00:00  12.692  30.45  10.314  2.377  29.2  3.34  19.108
1  2024/09/24  09:15:00  12.692  30.45  10.317  2.375  30.8  3.34  19.113
2  2024/09/24  09:30:00  12.692  30.45  10.316  2.375  32.3  3.34  19.114
3  2024/09/24  09:45:00  12.692  30.45  10.314  2.377  33.5  3.34  19.109
4  2024/09/24  10:00:00  12.692  30.45  10.313  2.379  34.6  3.34  19.113

   P08  P09  P10  P11  P12  P13  P14  P15
0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
NAN column removed and Data with 'DateTime' column as the first column for YDOC_YDS00057_W3001557_ST01041_240924_114500.000.csv:
              DateTime     P01    P02      P03      P04      P05      P06  \
0  2024-09-24 09:00:00  12.692  30.45   10.314    2.377     29.2     3.34
1  2024-09-24 09:15:00  12.692  30.45   10.317    2.375     30.8     3.34
2  2024-09-24 09:30:00  12.692  30.45   10.316    2.375     32.3     3.34
3  2024-09-24 09:45:00  12.692  30.45   10.314    2.377     33.5     3.34
4  2024-09-24 10:00:00  12.692  30.45   10.313    2.379     34.6     3.34
5  2024-09-24 10:15:00  12.690  30.40   10.311    2.379     35.3     3.35
6  2024-09-24 10:30:00  12.689  30.45    10.31    2.378     35.9     3.36
7  2024-09-24 10:45:00  12.687  30.45   10.307     2.38     36.1     3.34
8  2024-09-24 11:00:00  12.685  30.45   10.305     2.38     36.3     3.36
9  2024-09-24 11:15:00  12.684  30.45   10.301    2.382     36.4     3.36
10 2024-09-24 11:30:00  12.684  30.45   10.301    2.383     36.5     3.38
11 2024-09-24 11:45:00  12.680  30.45  MISSING  MISSING  MISSING  MISSING

        P07
0    19.108
1    19.113
2    19.114
3    19.109
4    19.113
5    19.115
6    19.116
7    19.098
8    19.119
9    19.121
10   19.117
11  MISSING
Table `YDOC_YDS00057_W3001557_ST01041_240924_114500.000` created successfully.
Data inserted into `YDOC_YDS00057_W3001557_ST01041_240924_114500.000` successfully.
Processed data exported to C:\Users\mh30f\OneDrive\Documents\GitHub\YDOC2MySQL\Resources\processed_YDOC_YDS00057_W3001557_ST01041_240924_114500.000.csv
Data loaded from CSV YDOC_YDS00057_W3001557_ST01041_240924_120000.000.csv:
         Date      Time     P01    P02     P03    P04   P05   P06     P07  \
0  2024/09/24  11:45:00  12.680  30.45  10.301  2.379  36.9  3.38  20.862
1  2024/09/24  12:00:00  12.679  30.45  10.301  2.378  37.1  3.58  21.233

   P08  P09  P10  P11  P12  P13  P14  P15
0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
NAN column removed and Data with 'DateTime' column as the first column for YDOC_YDS00057_W3001557_ST01041_240924_120000.000.csv:
             DateTime     P01    P02     P03    P04   P05   P06     P07
0 2024-09-24 11:45:00  12.680  30.45  10.301  2.379  36.9  3.38  20.862
1 2024-09-24 12:00:00  12.679  30.45  10.301  2.378  37.1  3.58  21.233
Table `YDOC_YDS00057_W3001557_ST01041_240924_120000.000` created successfully.
Data inserted into `YDOC_YDS00057_W3001557_ST01041_240924_120000.000` successfully.
Processed data exported to C:\Users\mh30f\OneDrive\Documents\GitHub\YDOC2MySQL\Resources\processed_YDOC_YDS00057_W3001557_ST01041_240924_120000.000.csv
Data loaded from CSV YDOC_YDS00057_W7020330_4G_STS_BARO_125720519_240925_060006.csv:
         Date      Time  Water Level   Temp  Barometric pressure  \
0  2024/09/25  00:15:00       14.844  17.15               10.399
1  2024/09/25  00:30:00       14.844  17.15               10.395
2  2024/09/25  00:45:00       14.844  17.15               10.396
3  2024/09/25  01:00:00       14.844  17.15               10.395
4  2024/09/25  01:15:00       14.844  17.15               10.395

   Compensated Pressure  Casing temperature  Min voltage  EXT POWER / SOLAR
0                 4.445                11.4         3.16              0.207
1                 4.449                11.4         3.30              0.203
2                 4.448                11.4         3.30              0.199
3                 4.449                11.3         3.30              0.197
4                 4.449                11.2         3.31              0.199
NAN column removed and Data with 'DateTime' column as the first column for YDOC_YDS00057_W7020330_4G_STS_BARO_125720519_240925_060006.csv:
              DateTime  Water_Level   Temp  Barometric_pressure  \
0  2024-09-25 00:15:00       14.844  17.15               10.399
1  2024-09-25 00:30:00       14.844  17.15               10.395
2  2024-09-25 00:45:00       14.844  17.15               10.396
3  2024-09-25 01:00:00       14.844  17.15               10.395
4  2024-09-25 01:15:00       14.844  17.15               10.395
5  2024-09-25 01:30:00       14.841  17.15               10.394
6  2024-09-25 01:45:00       14.841  17.15               10.394
7  2024-09-25 02:00:00       14.841  17.15               10.392
8  2024-09-25 02:15:00       14.841  17.15               10.395
9  2024-09-25 02:30:00       14.838  17.15               10.393
10 2024-09-25 02:45:00       14.838  17.15               10.394
11 2024-09-25 03:00:00       14.841  17.15               10.394
12 2024-09-25 03:15:00       14.841  17.15               10.397
13 2024-09-25 03:30:00       14.838  17.15               10.394
14 2024-09-25 03:45:00       14.838  17.15               10.397
15 2024-09-25 04:00:00       14.838  17.15               10.394
16 2024-09-25 04:15:00       14.838  17.15               10.392
17 2024-09-25 04:30:00       14.841  17.15               10.397
18 2024-09-25 04:45:00       14.838  17.15               10.397
19 2024-09-25 05:00:00       14.838  17.15               10.397
20 2024-09-25 05:15:00       14.841  17.15               10.397
21 2024-09-25 05:30:00       14.841  17.15               10.401
22 2024-09-25 05:45:00       14.844  17.15               10.400
23 2024-09-25 06:00:00       14.844  17.15               10.402

    Compensated_Pressure  Casing_temperature  Min_voltage  EXT_POWER_/_SOLAR
0                  4.445                11.4         3.16              0.207
1                  4.449                11.4         3.30              0.203
2                  4.448                11.4         3.30              0.199
3                  4.449                11.3         3.30              0.197
4                  4.449                11.2         3.31              0.199
5                  4.447                11.1         3.30              0.201
6                  4.447                11.1         3.30              0.198
7                  4.449                11.0         3.30              0.204
8                  4.446                10.9         3.30              0.193
9                  4.445                10.9         3.30              0.199
10                 4.444                10.8         3.30              0.198
11                 4.447                10.8         3.30              0.194
12                 4.444                10.7         3.30              0.193
13                 4.444                10.7         3.30              0.198
14                 4.441                10.6         3.30              0.198
15                 4.444                10.4         3.30              0.203
16                 4.446                10.3         3.30              0.199
17                 4.444                10.2         3.30              0.200
18                 4.441                10.0         3.30              0.196
19                 4.441                 9.7         3.30              0.196
20                 4.444                 9.4         3.30              0.201
21                 4.440                 9.0         3.30              0.201
22                 4.444                 8.6         3.30              0.200
23                 4.442                 8.2         3.26              0.197
Table `YDOC_YDS00057_W7020330_4G_STS_BARO_125720519_240925_060006` created successfully.
Data inserted into `YDOC_YDS00057_W7020330_4G_STS_BARO_125720519_240925_060006` successfully.
Processed data exported to C:\Users\mh30f\OneDrive\Documents\GitHub\YDOC2MySQL\Resources\processed_YDOC_YDS00057_W7020330_4G_STS_BARO_125720519_240925_060006.csv

In [6]:
# Define your MySQL connection parameters
MYSQL_HOST = "localhost"
MYSQL_USER = "mh30f"
MYSQL_PASSWORD = "Moh@1977"
MYSQL_DATABASE = 'ydoc2mysql'

try:
    # Connect to MySQL
    connection = mysql.connector.connect(
        host=MYSQL_HOST,
        user=MYSQL_USER,
        password=MYSQL_PASSWORD,
        database=MYSQL_DATABASE,
        auth_plugin="mysql_native_password"
    )
    cursor = connection.cursor()

    # Fetch data from the table to verify
    select_query = "SELECT * FROM `YDOC_YDS00057_W7020330_4G_STS_BARO_125720519_240925_060006`"
    cursor.execute(select_query)
    rows = cursor.fetchall()

    # Display the fetched data
    for row in rows:
        print(row)

except mysql.connector.Error as err:
    print(f"Error: {err}")

finally:
    # Close the cursor and connection if they were created
    if cursor:
        cursor.close()
    if connection:
        connection.close()

(datetime.datetime(2024, 9, 25, 0, 15), 14.844, 17.15, 10.399, 4.445, 11.4, 3.16, 0.207)
(datetime.datetime(2024, 9, 25, 0, 30), 14.844, 17.15, 10.395, 4.449, 11.4, 3.3, 0.203)
(datetime.datetime(2024, 9, 25, 0, 45), 14.844, 17.15, 10.396, 4.448, 11.4, 3.3, 0.199)
(datetime.datetime(2024, 9, 25, 1, 0), 14.844, 17.15, 10.395, 4.449, 11.3, 3.3, 0.197)
(datetime.datetime(2024, 9, 25, 1, 15), 14.844, 17.15, 10.395, 4.449, 11.2, 3.31, 0.199)
(datetime.datetime(2024, 9, 25, 1, 30), 14.841, 17.15, 10.394, 4.447, 11.1, 3.3, 0.201)
(datetime.datetime(2024, 9, 25, 1, 45), 14.841, 17.15, 10.394, 4.447, 11.1, 3.3, 0.198)
(datetime.datetime(2024, 9, 25, 2, 0), 14.841, 17.15, 10.392, 4.449, 11.0, 3.3, 0.204)
(datetime.datetime(2024, 9, 25, 2, 15), 14.841, 17.15, 10.395, 4.446, 10.9, 3.3, 0.193)
(datetime.datetime(2024, 9, 25, 2, 30), 14.838, 17.15, 10.393, 4.445, 10.9, 3.3, 0.199)
(datetime.datetime(2024, 9, 25, 2, 45), 14.838, 17.15, 10.394, 4.444, 10.8, 3.3, 0.198)
(datetime.datetime(2024, 9, 25, 3, 0), 14.841, 17.15, 10.394, 4.447, 10.8, 3.3, 0.194)
(datetime.datetime(2024, 9, 25, 3, 15), 14.841, 17.15, 10.397, 4.444, 10.7, 3.3, 0.193)
(datetime.datetime(2024, 9, 25, 3, 30), 14.838, 17.15, 10.394, 4.444, 10.7, 3.3, 0.198)
(datetime.datetime(2024, 9, 25, 3, 45), 14.838, 17.15, 10.397, 4.441, 10.6, 3.3, 0.198)
(datetime.datetime(2024, 9, 25, 4, 0), 14.838, 17.15, 10.394, 4.444, 10.4, 3.3, 0.203)
(datetime.datetime(2024, 9, 25, 4, 15), 14.838, 17.15, 10.392, 4.446, 10.3, 3.3, 0.199)
(datetime.datetime(2024, 9, 25, 4, 30), 14.841, 17.15, 10.397, 4.444, 10.2, 3.3, 0.2)
(datetime.datetime(2024, 9, 25, 4, 45), 14.838, 17.15, 10.397, 4.441, 10.0, 3.3, 0.196)
(datetime.datetime(2024, 9, 25, 5, 0), 14.838, 17.15, 10.397, 4.441, 9.7, 3.3, 0.196)
(datetime.datetime(2024, 9, 25, 5, 15), 14.841, 17.15, 10.397, 4.444, 9.4, 3.3, 0.201)
(datetime.datetime(2024, 9, 25, 5, 30), 14.841, 17.15, 10.401, 4.44, 9.0, 3.3, 0.201)
(datetime.datetime(2024, 9, 25, 5, 45), 14.844, 17.15, 10.4, 4.444, 8.6, 3.3, 0.2)
(datetime.datetime(2024, 9, 25, 6, 0), 14.844, 17.15, 10.402, 4.442, 8.2, 3.26, 0.197)