In [1]:
# Importing Required Libraries
import os
import pandas as pd
import mysql.connector

In [2]:
# MySQL database configuration
# MYSQL_HOST = "localhost"
# MYSQL_USER = "root"
# MYSQL_PASSWORD = "Password!!"
MYSQL_HOST = "localhost"
MYSQL_USER = "mh30f"
MYSQL_PASSWORD = "Moh@1977"

In [3]:
# Function ensures dates are converted to YYYY-MM-DD format
def convert_date_format(date_str):
    if isinstance(date_str, str) and date_str != '0':
        parts = date_str.split('/')
        if len(parts) == 3:
            if len(parts[0]) == 4:  # YYYY/MM/DD
                return '-'.join(parts)
            else:  # DD/MM/YYYY
                return '-'.join(parts[::-1])
            print("convertion done")
    return '0000-00-00'

In [4]:
def convert_date_format(date_series):
    return pd.to_datetime(date_series, format='%d/%m/%Y', errors='coerce')

In [18]:
def main():
    try:
        # Connect to MySQL
        connection = mysql.connector.connect(
            host=MYSQL_HOST,
            user=MYSQL_USER,
            password=MYSQL_PASSWORD,
            auth_plugin="mysql_native_password"
        )
        cursor = connection.cursor()

        # Specify the path to your Resources directory
        resources_dir = "C:\\Users\\mh30f\\OneDrive\\Documents\\GitHub\\YDOC2MySQL\\Resources"  # Update this path as needed
        files = [f for f in os.listdir(resources_dir) if f.endswith('.csv')]

        for file_name in files:
            # Read CSV into DataFrame, skipping rows 2 and 3
            file_path = os.path.join(resources_dir, file_name)
            df = pd.read_csv(file_path, skiprows=[1, 2], header=0)
            print(f"Data loaded from CSV {file_name}:\n{df.head()}")

            # Clean column names
            df.columns = df.columns.str.strip().str.replace(' ', '_')

            # Convert 'Date' and 'Time' columns into a single 'DateTime' column
            if 'Date' in df.columns and 'Time' in df.columns:
                df['Date'] = df['Date'].astype(str)
                df['Time'] = df['Time'].astype(str)

                # Create the 'DateTime' column by combining 'Date' and 'Time'
                df['DateTime'] = pd.to_datetime(df['Date'] + ' ' + df['Time'], errors='coerce', dayfirst=True)

                # Drop the original 'Date' and 'Time' columns as they are no longer needed
                df.drop(columns=['Date', 'Time'], inplace=True)

                # Check for invalid datetime values and replace them with None
                df['DateTime'] = df['DateTime'].where(df['DateTime'].notna(), None)

                # Reorder the columns to make 'DateTime' the first column
                cols = ['DateTime'] + [col for col in df.columns if col != 'DateTime']
                df = df[cols]
                
                    # Drop columns with all NaN values
                df = df.dropna
                df = df.dropna(axis=1, how='all')
                
            print(f"NAN column removed and Data with 'DateTime' column as the first column for {file_name}:\n{df}")

            # Create database and table
            db_name = os.path.basename(os.path.dirname(resources_dir))
            table_name = os.path.splitext(file_name)[0]

            cursor.execute(f"CREATE DATABASE IF NOT EXISTS {db_name}")
            cursor.execute(f"USE {db_name}")

            # Create or recreate the table
            cursor.execute(f"DROP TABLE IF EXISTS `{table_name}`")  # Drop the table if it already exists
            create_table_query = f"CREATE TABLE `{table_name}` ("
            for col in df.columns:
                dtype = 'FLOAT'
                if col == 'DateTime':
                    dtype = 'DATETIME DEFAULT NULL'
                elif pd.api.types.is_integer_dtype(df[col]):
                    dtype = 'INT'
                elif pd.api.types.is_string_dtype(df[col]):
                    dtype = 'VARCHAR(255)'
                create_table_query += f"`{col}` {dtype}, "
            create_table_query = create_table_query.rstrip(', ') + ")"
            cursor.execute(create_table_query)
            print(f"Table `{table_name}` created successfully.")

            # Batch insert rows into the database
            rows = [tuple(row) for row in df.itertuples(index=False, name=None)]
            placeholders = ', '.join(['%s'] * len(df.columns))
            insert_query = f"INSERT INTO `{table_name}` ({', '.join(f'`{col}`' for col in df.columns)}) VALUES ({placeholders})"
            cursor.executemany(insert_query, rows)
            print(f"Data inserted into `{table_name}` successfully.")

            # Export processed data to a new CSV file
            output_file_path = os.path.join(resources_dir, f"processed_{file_name}")
            df.to_csv(output_file_path, index=False)
            print(f"Processed data exported to {output_file_path}")

        # Commit the transaction
        connection.commit()

    except mysql.connector.Error as err:
        print(f"Error: {err}")

    finally:
        if cursor:
            cursor.close()
        if connection:
            connection.close()

In [19]:
if __name__ == "__main__":
    main()

Data loaded from CSV YDOC_YD000101_W0041237_CT2X_SDI12_124130467_240925_030006.csv:
         Date     Time  Water Level      Temp  Barometric pressure  \
0  25/09/2024  0:15:00       13.599  31414.99             31395.36
1  25/09/2024  0:30:00       13.600  30987.75             30964.87
2  25/09/2024  0:45:00       13.600  30351.10             30328.69
3  25/09/2024  1:00:00       13.600  30819.11             30796.35
4  25/09/2024  1:15:00       13.599  30680.76             30661.59

   Compensated Pressure  Casing temperature  Min voltage  EXT POWER / SOLAR
0                28.673               3.318       10.281               20.0
1                28.906               3.321       10.279               20.0
2                28.906               3.322       10.279               19.9
3                28.906               3.323       10.277               19.8
4                28.673               3.323       10.277               19.6
NAN column removed and Data with 'DateTime' column as the first column for YDOC_YD000101_W0041237_CT2X_SDI12_124130467_240925_030006.csv:
              DateTime  Water_Level      Temp  Barometric_pressure  \
0  2024-09-25 00:15:00       13.599  31414.99             31395.36
1  2024-09-25 00:30:00       13.600  30987.75             30964.87
2  2024-09-25 00:45:00       13.600  30351.10             30328.69
3  2024-09-25 01:00:00       13.600  30819.11             30796.35
4  2024-09-25 01:15:00       13.599  30680.76             30661.59
5  2024-09-25 01:30:00       13.597  29951.23             29932.45
6  2024-09-25 01:45:00       13.598  31210.20             31187.02
7  2024-09-25 02:00:00       13.595  30516.17             30497.11
8  2024-09-25 02:15:00       13.595  30459.93             30437.44
9  2024-09-25 02:30:00       13.598  29278.85             29257.23
10 2024-09-25 02:45:00       13.597  29582.70             29564.03
11 2024-09-25 03:00:00       13.595  29947.25             29925.06

    Compensated_Pressure  Casing_temperature  Min_voltage  EXT_POWER_/_SOLAR
0                 28.673               3.318       10.281               20.0
1                 28.906               3.321       10.279               20.0
2                 28.906               3.322       10.279               19.9
3                 28.906               3.323       10.277               19.8
4                 28.673               3.323       10.277               19.6
5                 28.677               3.323       10.274               19.5
6                 28.914               3.323       10.275               19.3
7                 28.673               3.321       10.273               19.2
8                 28.906               3.320       10.275               19.1
9                 28.906               3.322       10.276               19.0
10                28.686               3.322       10.275               18.9
11                28.910               3.321       10.274               18.8
Table `YDOC_YD000101_W0041237_CT2X_SDI12_124130467_240925_030006` created successfully.
Data inserted into `YDOC_YD000101_W0041237_CT2X_SDI12_124130467_240925_030006` successfully.
Processed data exported to C:\Users\mh30f\OneDrive\Documents\GitHub\YDOC2MySQL\Resources\processed_YDOC_YD000101_W0041237_CT2X_SDI12_124130467_240925_030006.csv
Data loaded from CSV YDOC_YDS00057_W3001557_ST01041_240924_060000.000.csv:
         Date      Time     P01    P02     P03    P04   P05  P06    P07  P08  \
0  2024/09/24  05:45:00  12.679  30.45  10.305  2.374  19.7  3.3  4.109  NaN
1  2024/09/24  06:00:00  12.680  30.45  10.306  2.375  20.1  3.3  4.058  NaN

   P09  P10  P11  P12  P13  P14  P15
0  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1  NaN  NaN  NaN  NaN  NaN  NaN  NaN
NAN column removed and Data with 'DateTime' column as the first column for YDOC_YDS00057_W3001557_ST01041_240924_060000.000.csv:
             DateTime     P01    P02     P03    P04   P05  P06    P07
0 2024-09-24 05:45:00  12.679  30.45  10.305  2.374  19.7  3.3  4.109
1 2024-09-24 06:00:00  12.680  30.45  10.306  2.375  20.1  3.3  4.058
Table `YDOC_YDS00057_W3001557_ST01041_240924_060000.000` created successfully.
Data inserted into `YDOC_YDS00057_W3001557_ST01041_240924_060000.000` successfully.
Processed data exported to C:\Users\mh30f\OneDrive\Documents\GitHub\YDOC2MySQL\Resources\processed_YDOC_YDS00057_W3001557_ST01041_240924_060000.000.csv
Data loaded from CSV YDOC_YDS00057_W3001557_ST01041_240924_090000.000.csv:
         Date      Time     P01    P02     P03    P04   P05   P06     P07  \
0  2024/09/24  06:15:00  12.682  30.45  10.309  2.373  20.4  3.26   4.167
1  2024/09/24  06:30:00  12.682  30.45  10.307  2.375  20.5  3.28  17.267
2  2024/09/24  06:45:00  12.684  30.45  10.309  2.374  20.7  3.28  18.422
3  2024/09/24  07:00:00  12.684  30.45  10.311  2.373  20.9  3.28  19.046
4  2024/09/24  07:15:00  12.685  30.45  10.311  2.374  21.2  3.28  19.037

   P08  P09  P10  P11  P12  P13  P14  P15
0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
NAN column removed and Data with 'DateTime' column as the first column for YDOC_YDS00057_W3001557_ST01041_240924_090000.000.csv:
              DateTime     P01    P02     P03    P04   P05   P06     P07
0  2024-09-24 06:15:00  12.682  30.45  10.309  2.373  20.4  3.26   4.167
1  2024-09-24 06:30:00  12.682  30.45  10.307  2.375  20.5  3.28  17.267
2  2024-09-24 06:45:00  12.684  30.45  10.309  2.374  20.7  3.28  18.422
3  2024-09-24 07:00:00  12.684  30.45  10.311  2.373  20.9  3.28  19.046
4  2024-09-24 07:15:00  12.685  30.45  10.311  2.374  21.2  3.28  19.037
5  2024-09-24 07:30:00  12.687  30.45  10.313  2.374  21.7  3.28  19.072
6  2024-09-24 07:45:00  12.689  30.40  10.313  2.375  22.4  3.28  19.054
7  2024-09-24 08:00:00  12.689  30.45  10.313  2.375  23.3  3.29  19.082
8  2024-09-24 08:15:00  12.690  30.45  10.314  2.377  24.3  3.29  19.104
9  2024-09-24 08:30:00  12.690  30.40  10.316  2.374  25.7  3.32  19.105
10 2024-09-24 08:45:00  12.692  30.40  10.317  2.375  27.4  3.33  19.108
11 2024-09-24 09:00:00     NaN    NaN     NaN    NaN   NaN   NaN     NaN
Table `YDOC_YDS00057_W3001557_ST01041_240924_090000.000` created successfully.
Error: 1054 (42S22): Unknown column 'nan' in 'field list'